Source: eos-license-service
Section: contrib/web
Priority: optional
Maintainer: Cosimo Cecchi <cosimo@endlessm.com>
Build-Depends: debhelper (>= 9),
	dh-autoreconf,
	dh-systemd,
	pkg-config,
	systemd,
Standards-Version: 3.8.0
Homepage: http://www.endlessm.com

Package: eos-license-service
Architecture: all
Depends: gjs,
         gir1.2-glib-2.0,
         gir1.2-soup-2.4,
         ${misc:Depends}
Description: EndlessOS License Service
 Node service to display the list of licenses used in the OS
