Source: eos-license-service
Section: contrib/web
Priority: optional
Maintainer: Cosimo Cecchi <cosimo@endlessm.com>
Build-Depends: debhelper (>= 9),
	dh-autoreconf,
	dh-systemd,
	systemd,
	eos-node-modules-dev
Standards-Version: 3.8.0
Homepage: http://www.endlessm.com

Package: eos-license-service
Architecture: all
Depends: ${misc:Depends},
	 eos-node-modules,
	 nodejs
Description: EndlessOS License Service
 Node service to display the list of licenses used in the OS
